#head {
  /* background: black; */
  height: 50px;
  width: 50px;
  /* background-color: green; */
  position: absolute;
}

.body {
  /* background: black; */
  height: 50px;
  width: 50px;
  /* background-color: black; */
  position: absolute;
}

#board {
  height: 700px;
  width: 700px;
  border: 1px black solid;
  position: relative;
}

#apple {
  height: 50px;
  width: 50px;
  position: absolute;
}

#endGame{
  position: absolute;
  z-index: 100;
  width: 400px;
  height: 300px;
  top: 200px;
  left:150px;
  background-color: red;
}

.vert {
  background-image: url('./assets/vert.png')
}

.horzi {
  background-image: url('./assets/horzi.png')
}

.left-up {
  background-image: url('./assets/left-up.png')
}

.right-up {
  background-image: url('./assets/right-up.png')
}

.left-down {
  background-image: url('./assets/left-down.png')
}

.right-down {
  background-image: url('./assets/right-down.png')
}

.head-up {
  background-image: url('./assets/head-up.png')
}

.head-down {
  background-image: url('./assets/head-down.png')
}

.head-left {
  background-image: url('./assets/head-left.png')
}

.head-right {
  background-image: url('./assets/head-right.png')
}